#Задача.
Провести дисперсионный анализ для определения того, есть ли различия среднего роста среди взрослых футболистов, хоккеистов и штангистов. Даны значения роста в трех группах случайно выбранных спортсменов:

Футболисты: 173, 175, 180, 178, 177, 185, 183, 182. 

Хоккеисты: 177, 179, 180, 188, 177, 172, 171, 184, 180.

Штангисты: 172, 173, 169, 177, 166, 180, 178, 177, 172, 166, 170.

In [10]:
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt

In [11]:
y1 = np.array([173, 175, 180, 178, 177, 185, 183, 182])
y2 = np.array([177, 179, 180, 188, 177, 172, 171, 184])
y3 = np.array([172, 173, 169, 177, 166, 180, 178, 177])

In [12]:
f = stats.f_oneway(y1, y2, y3)
f

F_onewayResult(statistic=5.500053450812596, pvalue=0.010482206918698694)

Интерпритировать альфа 1% и 5%

In [13]:
from statsmodels.stats.multicomp import pairwise_tukeyhsd
import pandas as pd

In [23]:
df=pd.DataFrame({"score":[173, 175, 180, 178, 177, 185, 183, 182,177, 179, 180, 188, 177, 172, 171, 184, 172, 173, 169, 177, 166, 180, 178, 177],
                 "group":np.repeat(['y1','y2','y3'], repeats =8)})
tukey=pairwise_tukeyhsd(df["score"],
                        df["group"],
                        alpha =0.01)
print(tukey)

Multiple Comparison of Means - Tukey HSD, FWER=0.01
====================================================
group1 group2 meandiff p-adj   lower   upper  reject
----------------------------------------------------
    y1     y2   -0.625    0.9  -8.6499 7.3999  False
    y1     y3   -5.125 0.1178 -13.1499 2.8999  False
    y2     y3     -4.5 0.1848 -12.5249 3.5249  False
----------------------------------------------------

In [24]:
df=pd.DataFrame({"score":[173, 175, 180, 178, 177, 185, 183, 182,177, 179, 180, 188, 177, 172, 171, 184, 172, 173, 169, 177, 166, 180, 178, 177],
                 "group":np.repeat(['y1','y2','y3'], repeats =8)})
tukey=pairwise_tukeyhsd(df["score"],
                        df["group"],
                        alpha =0.05)
print(tukey)

Multiple Comparison of Means - Tukey HSD, FWER=0.05
====================================================
group1 group2 meandiff p-adj   lower   upper  reject
----------------------------------------------------
    y1     y2   -0.625    0.9  -6.8272 5.5772  False
    y1     y3   -5.125 0.1178 -11.3272 1.0772  False
    y2     y3     -4.5 0.1848 -10.7022 1.7022  False
----------------------------------------------------